rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function userData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }
    function userUnit() { return userData().id_katar; }
    function userRole() { return userData().role; }

    match /users/{uid} {
      allow create: if request.auth != null && request.auth.uid == uid;
      allow read, update: if request.auth != null && request.auth.uid == uid;
    }

    match /karangtaruna/{id} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && userRole() == "super_admin" && userUnit() == id;
    }

    match /{collection}/{docId} {
      allow read: if request.auth != null && resource.data.id_katar == userUnit();
      allow create, update, delete: if request.auth != null &&
        userData().status == "approved" &&
        resource.data.id_katar == userUnit() &&
        userRole() in ["super_admin","admin","admin_keuangan","admin_berita","admin_umkm"];
    }
  }
}
